*, *:before, *:after {
    box-sizing: border-box;
}

/* variables */
:root{
    --font-size-small:1.2rem;
    --font-size-medium:1.6rem;
    --font-size-large:1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xl-large: 3.8rem;
    --font-size-xx-large: 4.8rem;
    --font-size-xxl-large: 5.8rem;
    

    --font-weight-regular:4rem;
    --font-weight-bold:7rem;


    --line-height-small:1.2;
    --line-height-base:1.5;
    --line-height-big:1.8;
    --display:none;
    --color-primary:#ffffff;
    --color-secondary:#000000; 
    --color-button:#8FC646;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 81%;
}

body {
    background-color: #F7F7F7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    list-style: none;
    color: var(--color-primary);
    
}

li {
    list-style: none;
    display: inline-block;
}

a:hover {
    color: var(--color-button);
}

/* .button {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    background-color:var(--color-button);
    color:var(--color-primary);
    border: none;
    font-size: var(--font-size-small);
    
}

.button:hover {
    background-color:var(--color-primary);
    color:var(--color-button);
    border: 1px solid var(--color-button);
} */

.bg {
    height: 60vh;
    background-image: url(images/bgx.jpg);
    background-size:cover;
    margin:-10px;
}


/* nav bar */

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    overflow: hidden; 
    width: 80%;
    padding-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;

}

.logo img{
    width: 80%;
    /* left:10%; */
}

/* xx */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.icon {
    display: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.nav-items li {
    padding-left: 2rem;
    font-size: var(--font-size-medium);
}

.cart {
    position: relative;
}

/* Cart items */
.cart-item {
    position: absolute;
    background: chartreuse;
    border-radius: 50%;
    z-index: 1;
    margin-top: -.5rem;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--color-primary);
}

.dashboard {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;

}

.dashboard h1 {
    font-size: var(--font-size-xxl-large);
    color: var(--color-primary);
    font-family: Rockwell;
}

.dashboard p {
    font: 1em rockwell;
    font-size: var(--font-size-small);
    color: var(--color-primary);
    padding: 0 0 3rem 0;
}

/* alert for pop up on select */
.alert p{
  
    background-color: #8FC646;
    border-radius: .5rem;
    padding:.4rem;
    background: rgba(0,0,0,0.5);
    color: white;
    margin-top: auto;
    /* margin-bottom: .2rem; */
    border-radius: .5rem;
    

}

.close-alert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: var(--font-size-medium);
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;  
}

.close-alert:hover {
    color: black;
}
.header-form {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    /* border: 1px solid red; */
    border-radius: 1rem;
    padding: .5rem;
    background-color: var(--color-button);
}

.header-form input {
    width: 30%;
    border-style: none;
    border-right: 2px solid rgb(199, 198, 198);
    font-size: large;
    border-radius: .6rem 0 0 .6rem;
    color: #828282;
}

.header-form select {
    width: 40%;
    border-style: none;
    border: 0px;
    font-size: large;
    /* opacity: 0.6; */
    padding-left: 1rem;
    color: #828282;
    border-radius: 0 .6rem .6rem 0;
}

.header-form button {
    width: 30%;
    font-size: x-large;
    border-radius: 0 .5rem .5rem 0;
    color: var(--color-primary);
    background-color: var(--color-button);
    border-style: none;  
    cursor: pointer;  
}

.header-form button:hover {
    color:greenyellow;
    /* background-color: #8aee07; */
} 


/* top recipe  */

.top-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    
}

.top-recipe-header h1{
    padding: 2rem;
    font-size: var(--font-size-xl-large);
    
}

.top-recipe-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.top-recipe-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 1px 1px 5px 1px grey;
    margin: 1rem;
    padding: .5rem;
    width: 300px;
    
}


.top-recipe-item h2{
    padding-top: 1rem;
    font-size: var(--font-size-medium);
    
}

.top-recipe-item a{
    color: var(--color-secondary);
    padding-top: 1rem;
}

.top-recipe-item a:hover{
    color: #8aee07;
}

/* recipe count */

.recipe-count{
    
    background-image: url(images/bg_3.jpg);
    background-size:cover;
    /* height: 535px; */
    margin-left: -10px;
    margin-right: -10px;
    /* margin-bottom: 50px; */

}
.recipe-count-items{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--color-primary);
    padding: 10rem;
    padding-left: 30%;

}

/* .recipe-count-items{
    
} */

.recipe-count-items h1{
    font-family: arial;
    font-size: var(--font-size-xx-large);
}


.recipe-count-items button{
    margin-top: 1rem;
    padding: .6rem 2rem .6rem 2rem;
    background-color: var(--color-button);
    color: var(--color-primary);
    cursor: pointer;  
    border: none;
    font-size: var(--font-size-medium);
    /* cursor: pointer;   */
}

.recipe-count-items button:hover{
    /* color:var(--color-secondary); */
    border:1px solid white;
    color: #573836;

}

/* categories  */

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
     
}

.category-header h1 {
padding: 4rem 0 3rem 0 ;
font-size: var(--font-size-x-large);


}

.category-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 200px; */
}

.category-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 5px 1px grey;
    margin: .5rem;
    padding: 1rem;
    /* width: 100px; */
}

.category-item h2, p{ 
    width: 200px;
}



/* Footer */
footer{
    /* border: 1px solid red; */
    margin: -10px;
    background-color: #573836;

}
.footer-items{
    display: flex;
    flex-direction: row;
    padding: 5rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
 
}

.footer-item-logo {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

}
.footer-item-logo i {
    margin-left:1rem;
    font-size: var(--font-size-x-large);
    color: var(--color-button);
}

.footer-item-logo i:hover {
    /* margin-left:1rem; */
    /* font-size: var(--font-size-x-large); */
    color: var(--color-primary);
}

.footer-link li {
    margin-left:.5rem ;
    font-size: var(--font-size-medium);
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: .5rem;
    /* border: 1px solid red; */

}

.footer-subscribe input{
padding: .5rem;
font-size:var(--font-size-medium);
border:none;
}

.footer-subscribe input::placeholder{

    font-size: var(--font-size-medium);
}
    
.footer-subscribe button{
    font-size:var(--font-size-medium);
    padding: .4rem;
    background-color: var(--color-button);
    border: none;
    color: var(--color-primary);
    cursor: pointer;  
}

.footer-subscribe button:hover{
    /* color:var(--color-secondary); */
    border:1px solid white;
    color: #ffffff;
    background-color: #8aee07;

}

footer p {
    text-align: center;
    font-size: var(--font-size-medium);
    padding-bottom: 2rem;
    color: var(--color-button);
}

/* Search page */

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 2rem 10%; */
    /* border: 1px solid black; */
    border-radius: .5rem;
    /* border-bottom: 1px solid black; */
}

.search-img{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: flex-end;
    /* border: 1px solid black; */
    /* border: 1px solid black; */
}

.search-img img{
    width: 100px;
    height: 100px;
    margin: 1rem;
    right:0px
    
    /* border: 1px solid black; */
}

.search-body {
    margin: 1rem;
    border-right: 1px solid rgb(179, 179, 179);
    /* padding: 1rem; */
    flex: 2;
}

.search-btn {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1rem;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-end;

}

.search-btn button {
    padding: 1rem;
    margin: .5rem;
    border: none;
    color: var(--color-primary);
    font-size: medium;
    background-color: var(--color-button);
    cursor: pointer;
}

.search-btn button:hover {
    color:#ffffff;
    background-color: #8aee07;
}

@media only screen and (min-width: 768px) {
    .search {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 10%;
    }   
}

/* Small screen */

@media only screen and (max-width: 768px) {
    /* body {
      background-color:rgb(251, 249, 249);
    } */

    .dashboard h1 {
        font-size: var(--font-size-xx-large);
        color: var(--color-primary);
        font-family: Rockwell;
    }

    .bg {
        height: 75vh;
        background-image: url(images/bgx.jpg);
        background-size:cover;
        /* flex-wrap: nowrap; */
        margin:-10px;
    }

    /* nav responsive */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 0 ;
        width: 100%;
        background-color: #573836;
        
    }
        
    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin-right: 0;
        text-align: left;
    }

    .icon {
        display: block;
        font-size: var(--font-size-xl-large);

        }
    .recipe-count-items h1{
        font-family: arial;
        font-size: var(--font-size-x-large);
        }
    
    .recipe-count-items button{
        margin-top: 1rem;
        padding: .6rem 2rem .6rem 2rem;
        background-color: var(--color-button);
        color: var(--color-primary);
        cursor: pointer;  
        border: none;
    }
        
}

    /* Screen size 425px */
  

    @media only screen and (max-width: 425px) {

        .bg {
            height: 80vh;
            background-image: url(images/bgx.jpg);
            background-size:cover;
            margin:-10px;
        }
        .dashboard h1 {
            font-size: var(--font-size-xl-large);
            color: var(--color-primary);
            font-family: Rockwell;
        }

        .topnav {
            flex-wrap: nowrap;
        }

        .search {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: left;
            align-items: flex-start;
            margin-top:2rem;
            /* margin: 2rem 10%; */
            /* border: 1px solid black; */
            border-radius: .5rem;
            /* border-bottom: 1px solid black; */
        }
        
        .search-btn {
            display: flex;
            flex-direction:row;
            align-items: flex-end;
            flex: 1;
            margin: 0 .5rem;
            flex-wrap: wrap;
            /* align-items: stretch; */
            justify-content: flex-end;
        
        }
        .search-body {
            margin: 1rem;
            border-right: none;
            /* padding: 1rem; */
            flex: 3;
        }
        .dashboard {
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            padding-top: 5rem;
            margin-left: 10%;
            margin-right: 10%;
            /* margin-bottom: ; */
        
        }


        .dashboard p {
            font-size: var(--font-size-medium);
        }
        
        .header-form input {
            font-size: var(--font-size-medium);
        }
        
        .header-form select {
            font-size: var(--font-size-medium);
        }
        
        .header-form button {
            font-size: var(--font-size-medium);
        }
    }
    /* Screen 375px */

    @media only screen and (max-width: 375px) {

        .bg {
            height: 90vh;
            
        }
    }
    @media only screen and (min-width: 760px) and (max-width:1440) {

        .bg {
            height: 100vh;
            background-image: url(images/bgx.jpg);
            background-size:cover;
            margin:-10px;
        }
    }

