{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block main %}
<div class="detail-header">
    <h1><b style="color:#8FC646">Product </b>details</h1>
</div>
<div class="details">

        {% for result in results['hits'] %}
            <div class="detail-body-row">
                <div class="detail-body-row-img">
                    <img width=100% src="{{result['recipe']['images']['REGULAR']['url']}}" alt="Product image"/>
                </div>
                <div class="detail-body-row-text">
                    <div class="detail-body-header">
                        <h3>{{result['recipe']['label']}}</h3>
                        <p><i>Cuisine Type:</i> {{result['recipe']['cuisineType'][0]}}</p> 
                        <p><i>Meal Type:</i> {{result['recipe']['mealType'][0]}}</p>
                    </div>
                    <div class="table-container">
                        <table>
                            <tr>
                                <th><p>Ingredients</p></th>
                            </tr>
                            {% for ingredient in result['recipe']['ingredients'] %}
                                <tr>
                                    <td><p>{{ingredient['text']}}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class='detail-btn'>
                        <button class="button" type="submit" id="fav-btn" value="{{result['recipe']['uri']}}"><i class="fa fa-heart"></i><br>Favourite</button>
                        <button class="button" id='cart-btn' value="{{result['recipe']['uri']}}" type="submit"><i class="fa fa-shopping-cart"></i><br>Cart</button>
                    </div>
                <div>
            </div>

        {%endfor%}
  
</div>

{%endblock%}