{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block main %}

<div class="details">
    <div class="detail-header">
        <h2>Product details</h2>
    </div>
    <div class="detail-body">
        <div class="detail-body-row">
            <img src="{{url_for('static', filename="images/bg_3.jpg")}}" alt="Product image"/>
            <p>Ingredients</p>
        </div>
        <div class="detail-header">
            <p>Label</p>
            <p>instructions</p> 
            <p>cooking time</p>
        </div>
    </div>
</div>


{%endblock%}