{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block main %}
    <section class="top-recipe">
        <div class="top-recipe-header">
            <h1>Top Recipe</h1>
        </div>
        <div class="top-recipe-items">
            <div class="top-recipe-item">
                <img src="images/1.jpg" alt="Recipe image">
                <h2>Loren Ipesum</h2>
                <p>short description about 
                    this category</p>
                <a href="#">...Learn more</a>
            </div>
            <div class="top-recipe-item">
                <img src="images/2.jpg" alt="Recipe image">
                <h2>Loren Ipesum</h2>
                <p>short description about 
                    this category</p>
                <a href="#">...Learn more</a>
            </div>
            <div class="top-recipe-item">
                <img src="images/3.jpg" alt="Recipe image">
                <h2>Loren Ipesum</h2>
                <p>short description about 
                    this category</p>
                <a href="#">...Learn more</a>
            </div>
            <div class="top-recipe-item">
                <img src="images/4.jpg" alt="Recipe image">
                <h2>Loren Ipesum</h2>
                <p>short description about 
                    this category</p>
                <a href="#">...Learn more</a>
            </div>
        </div>
    </section>

    <section class="recipe-count">
        <div class="recipe-count-items">  
            <h1>More than 3000 Recipe</h1>
            <p>explore the secrete behind best taste </p>
            <div><button type="submit">View All</button></div>
        </div>

    </section>
    <section >
        <div class="categories">
            <div class="category-header"><h1>Popular Categories</h1></div>
            <div class="category-items">
                <div class="category-item">
                    <img src="images/5.jpeg" alt="Item"/>
                    <h2>Lorem Ipesum</h2>
                    <p>short irem descriptions Lorem ipesum</p>
                </div>
                <div class="category-item">
                    <img src="images/5.jpeg" alt="Item"/>
                    <h2>Lorem Ipesum</h2>
                    <p>short irem descriptions Lorem ipesum</p>
                </div>
                <div class="category-item">
                    <img src="images/5.jpeg" alt="Item"/>
                    <h2>Lorem Ipesum</h2>
                    <p>short irem descriptions Lorem ipesum</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}