{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block main %}
    <section class="top-recipe">
        <div class="top-recipe-header">
            <h1><b style="color:#8FC646">Top 10</b> Recipe</h1>
        </div>

        <div class="top-recipe-items"> 
            
            {% for i in range(10) %}
            <div class="top-recipe-item">
                
                <img class="cart-image" src="{{results['hits'][i]['recipe']['images']['SMALL']['url']}}" alt="Recipe image">
                <span class="cart-counter">
                </span>
                
                <h2><form action="/details" method="POST" style="margin:0;padding:0;">
                    <input type="text" name='item-details' value="{{results['hits'][i]['recipe']['uri']}}" hidden>
                    <a href="#" onclick="this.parentNode.submit()" style="color:black; hover::color:green">
                        {{results['hits'][i]['recipe']['label']}}
                    </a></form>
                </h2>
                <p>Source: {{results['hits'][i]['recipe']['source']}} | {{results['hits'][i]['recipe']['ingredients']|length}} Ingredients</p>
                <div class="top-recipe-item-btn">
                    <button style="margin-right:.1rem" class="button" id="fav-btn" value="{{results['hits'][i]['recipe']['uri']}}">Add to Fav <i class="fa fa-heart"></i></button></form>
                    <button style="margin-left:.1rem" id='cart-btn' value="{{results['hits'][i]['recipe']['uri']}}" class="button">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                </div>
                
            </div>
            {%endfor%}
        </div>
    </section>
    
    <section class="recipe-count">
        <div class="recipe-count-items">  
            <h1>More than <em style="color:#8FC646">{{results['count']}}</em> Recipe</h1>
            <p>explore the secrete behind best taste </p>
            <div><button  class="button" type="submit">View All <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button></div>
        </div>

    </section>
    <section >
        <div class="categories">
            <div class="category-header"><h1>Popular <b style="color:#8FC646;">Ingredients</b></h1></div>
            <div class="category-items">
                {% for i in range(4) %}
                    <div class="category-item">
                        <img src="{{results['hits'][i]['recipe']['ingredients'][i]['image']}}" style="width:200px" alt="Item"/>
                        <h2>Ingredients: {{results['hits'][i]['recipe']['ingredients'][i]['food']}} </h2>
                        <p><b>Preparation:</b> {{results['hits'][i]['recipe']['ingredients'][i]['text']}} </p>
                        <p><b>Food Category:</b> {{results['hits'][i]['recipe']['ingredients'][i]['foodCategory']}} || 
                            <b>Weight:</b> {{results['hits'][i]['recipe']['ingredients'][i]['weight']|round(2)}}g </p>
                    </div>
                {%endfor%}
            </div>
        </div>
    </section>
{% endblock %}