{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block main %}
    <section class="top-recipe">
        <div class="top-recipe-header">
            <h1>Top Recipe</h1>
        </div>
        <div class="top-recipe-items">
            {% for i in range(4) %}
            <div class="top-recipe-item">
                <img src="{{results['hits'][i]['recipe']['images']['SMALL']['url']}}" alt="Recipe image">
                <h2><a href="#" style="color:black; hover::color:green">{{results['hits'][i]['recipe']['label']}}</a></h2>
                <p>Source: {{results['hits'][i]['recipe']['source']}} | {{results['hits'][i]['recipe']['ingredients']|length}} Ingredients</p>
                <a href="{{results['hits'][i]['recipe']['uri']}}">...Learn more</a>
            </div>
            {%endfor%}
        </div>
    </section>

    <section class="recipe-count">
        <div class="recipe-count-items">  
            <h1>More than {{results['count']}} Recipe</h1>
            <p>explore the secrete behind best taste </p>
            <div><button type="submit">View All</button></div>
        </div>

    </section>
    <section >
        <div class="categories">
            <div class="category-header"><h1>Popular Ingredients</h1></div>
            <div class="category-items">
                {% for i in range(3) %}
                    <div class="category-item">
                        <img src="{{results['hits'][i]['recipe']['ingredients'][i]['image']}}" alt="Item"/>
                        <h2>Ingredients: {{results['hits'][i]['recipe']['ingredients'][i]['food']}} </h2>
                        <p><b>Preparation:</b> {{results['hits'][i]['recipe']['ingredients'][i]['text']}} </p>
                        <p><b>Food Category:</b> {{results['hits'][i]['recipe']['ingredients'][i]['foodCategory']}} || 
                            <b>Weight:</b> {{results['hits'][i]['recipe']['ingredients'][i]['weight']|round(2)}}g </p>
                    </div>
                {%endfor%}
            </div>
        </div>
    </section>
{% endblock %}