<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles.css">
        <title>
            Recipe Finder
        </title>
    </head>
    <body>
        <header class="bg">
            <nav>
                <div class="logo">
                    <img src="images/alx recipe logo.png" alt="Logo"/>
                </div>
                <div class="nav-items">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#home">Browse</a></li>
                        <li><a href="#home">Discover</a></li>
                    </ul>
                </div>
            </nav>
            <div class="dashboard">
                <h1 class="header-title">Discover Recipe</h1>
                <p class="header-paragraph">explore the secrete behind best taste </p>
                <div class="header-form">
                    <input type="text" placeholder="Search recipe"/>
                    <!-- <p>|</p> -->
                    <select>
                        <option>Select Category</option>
                        <option>Calories</option>
                        <option>Diet</option>
                        <option>Ingredients</option>
                    </select>
                    <button type="submit">Search</button>
                </div>
            </div>
        </header>

        
        <main>
            <section class="categories">
                <div class="category-header"></div>
                <div class="category-items">
                    <div class="category-item">
                        <img src="#" alt="Item"/>
                        <h2>Lorem Ipesum</h2>
                        <p>short irem descriptions Lorem ipesum</p>
                    </div>
                    <div class="category-item">
                        <img src="images/3.jpeg" alt="Item"/>
                        <h2>Lorem Ipesum</h2>
                        <p>short irem descriptions Lorem ipesum</p>
                    </div>
                    <div class="category-item">
                        <img src="images/4.jpeg" alt="Item"/>
                        <h2>Lorem Ipesum</h2>
                        <p>short irem descriptions Lorem ipesum</p>
                    </div>
                    <div class="category-item">
                        <img src="images/5.jpeg" alt="Item"/>
                        <h2>Lorem Ipesum</h2>
                        <p>short irem descriptions Lorem ipesum</p>
                    </div>
                    <div class="category-item">
                        <img src="images/3.jpeg" alt="Item"/>
                        <h2>Lorem Ipesum</h2>
                        <p>short irem descriptions Lorem ipesum</p>
                    </div>
                </div>
            </section>
            <section class="recipe-count">
                <div class="">
                    <h1>More than 3000 Recipe</h1>
                    <p>explore the secrete behind best taste </p>
                    <button type="submit">View All</button>
                </div>
            </section>

            <section class="top-recipe">
                <div class="top-recipe-header">
                    <h1>Top</h1>
                </div>
                <div class="top-recipe-items">
                    <div class="top-recipe-item">
                        <img src="images/1.jpg" alt="Recipe image">
                        <h2>Loren Ipesum</h2>
                        <p>short description about 
                            this category</p>
                        <a href="#">...Learn more</a>
                    </div>
                    <div class="top-recipe-item">
                        <img src="images/2.jpg" alt="Recipe image">
                        <h2>Loren Ipesum</h2>
                        <p>short description about 
                            this category</p>
                        <a href="#">...Learn more</a>
                    </div>
                    <div class="top-recipe-item">
                        <img src="images/3.jpg" alt="Recipe image">
                        <h2>Loren Ipesum</h2>
                        <p>short description about 
                            this category</p>
                        <a href="#">...Learn more</a>
                    </div>
                    <div class="top-recipe-item">
                        <img src="images/4.jpg" alt="Recipe image">
                        <h2>Loren Ipesum</h2>
                        <p>short description about 
                            this category</p>
                        <a href="#">...Learn more</a>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-items">
                <div class="footer-item-logo">
                    <img src="images/alx recipe logo.png" alt="Logo" />
                    <div class="social-media">
                        <a><i class="fa fa-linkedin-square"></i></a>
                        <a><i class="fa fa-twitter-square"></i></a>
                        <a><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-link">
                    <ul>
                        <li><a href="#home">About Us</a></li>
                        <li><a href="#home">Contact Us</a></li>
                        <li><a href="#home">Customer Support</a></li>
                    </ul>

                    <p>@Alx-Recipe 2023</p>
                </div>
                <div class="footer-subscribe">
                    <input class="form" type="text" placeholder="Email"/>
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </footer>
    </body>

</html>